body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.header {
    background-color: #2E7D32;
    padding: 1em 0;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: 500;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #2E7D32;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45A049;
}

.treino-list, #treino-do-dia, #lista-treinos-evolucao {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}
